//主题色
$color-default: #337ab7;
$color-default-light: #5c95c5;
$color-default-lighter:#85afd4;

//Success
$color-success: #5cb85c;
$color-success-light:#7dc67d;
$color-success-lighter:#9dd49d;

//Info
$color-info:#5bc0de;
$color-info-light:#7ccde5;
$color-info-lighter:#9dd9eb;

//Warning
$color-warning:#f0ad4e;
$color-warning-light:#f3bd71;
$color-warning-lighter:#f6ce95;

//Danger
$color-danger:#d9534f;
$color-danger-light:#e17572;
$color-danger-lighter:#e89895;

//Font Color
$color-font:#303133;
$color-font-light:#595a5c;
$color-font-lighter:#838385;

//Base Grey
$color-grey:#cccccc;
$color-grey-light:#e9e9e9;
$color-grey-lighter:#e0e0e0;