//字体
$font-fontfamily:Helvetica,
Tahoma,
Arial,
"PingFang SC",
STXihei,
"Microsoft yahei",
"WenQuanYi Micro Hei",
sans-serif;

//字号
$font-titlesize:26px;
$font-subsize:22px;
$font-decssize:20px;
$font-fontsize:16px;
$font-smallsize: 12px;

//行高
$font-lineheight:1.6;


body {
  font-family: $font-fontfamily;
}

h1,
.mo-article-title {
  font-size: $font-titlesize;
}

h2,
.mo-article-subtitle {
  font-size: $font-subsize;
}

h3,
.mo-article-time {
  font-size: $font-decssize;
}

p,
.mo-article-content {
  font-size: $font-fontsize;
  line-height: $font-lineheight;
}

.mo-font-small {
  font-size: $font-smallsize;
}