.mo-navbar {
  *zoom: 1;
}

.mo-navbar:before, .mo-navbar:after {
  content: "";
  display: block;
}

.mo-navbar:after {
  clear: both;
  overflow: hidden;
}

.mo-navbar li {
  float: left;
  display: block;
}

.mo-navbar li a {
  display: block;
  line-height: 40px;
  padding: 0 20px;
  text-decoration: none;
}

.mo-navbar-Tabs li {
  border-bottom: 3px solid transparent;
}

.mo-navbar-Tabs .mo-navbar-current {
  border-bottom-color: #337ab7;
}

.mo-navbar-Tabs .mo-navbar-current a {
  color: #337ab7;
}

.mo-navbar-Pills .mo-navbar-current {
  border-radius: 6px;
  background: #337ab7;
}

.mo-navbar-Pills .mo-navbar-current a {
  color: #ffffff;
}

.mo-navbar-Default li {
  background: #cccccc;
}

.mo-navbar-Default .mo-navbar-current {
  background: #337ab7;
}

.mo-navbar-Default .mo-navbar-current a {
  color: #ffffff;
}
