@import "../../basic/css/comm.scss";

.mo-article {
  width: 660px;
  margin: 0 auto;
}

.mo-article-title {
  font-size: $font-titlesize;
  text-align: center;
}

.mo-article-subtitle {
  font-size: $font-smallsize;
  text-align: center;
}

.mo-article-time {
  font-size: $font-smallsize;
  text-align: center;
}

.mo-article-content {
  font-size: $font-fontsize;
  line-height: $font-lineheight;
}

.mo-article-content p {
  margin: $comm-padding-md 0;
}

.mo-article-content img {
  width: auto;
  max-width: 100% !important;
  height: auto !important;
}