body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input,
textarea,
select {
  *font-size: 100%;
}

body {
  font-family: Helvetica, Tahoma, Arial, "PingFang SC", STXihei, "Microsoft yahei", "WenQuanYi Micro Hei", sans-serif;
}

.mo-article-title {
  font-size: 0.26rem;
}

.mo-article-subtitle {
  font-size: 0.22rem;
}

h3,
.mo-article-time {
  font-size: 0.2rem;
}

h1 {
  font-size: .26rem;
}

h2 {
  font-size: .22rem;
}

h3 {
  font-size: .20rem;
}

h4 {
  font-size: .16rem;
}

h5 {
  font-size: .14rem;
}

h6 {
  font-size: .12rem;
}

p,
.mo-article-content {
  font-size: 0.16rem;
  line-height: 1.6;
}

.mo-font-small {
  font-size: 0.12rem;
}

.mo-color-default {
  color: #337ab7;
}

.mo-color-success {
  color: #5cb85c;
}

.mo-color-info {
  color: #5bc0de;
}

.mo-color-warning {
  color: #f0ad4e;
}

.mo-color-danger {
  color: #d9534f;
}

.mo-color-dark {
  color: #595a5c;
}

.mo-color-grey {
  color: #cccccc;
}

.mo-border {
  border: 1px solid #cccccc;
}

.mo-border-dashed {
  border: 1px dashed #cccccc;
}

.mo-border-top {
  border-top: 1px solid #cccccc;
}

.mo-border-dashed-top {
  border-top: 1px dashed #cccccc;
}

.mo-border-top-0 {
  border: 1px solid #cccccc;
  border-top: none;
}

.mo-border-dashed-top-0 {
  border: 1px dashed #cccccc;
  border-top: none;
}

.mo-border-right {
  border-right: 1px solid #cccccc;
}

.mo-border-dashed-right {
  border-right: 1px dashed #cccccc;
}

.mo-border-right-0 {
  border: 1px solid #cccccc;
  border-right: none;
}

.mo-border-dashed-right-0 {
  border: 1px dashed #cccccc;
  border-right: none;
}

.mo-border-bottom {
  border-bottom: 1px solid #cccccc;
}

.mo-border-dashed-bottom {
  border-bottom: 1px dashed #cccccc;
}

.mo-border-bottom-0 {
  border: 1px solid #cccccc;
  border-bottom: none;
}

.mo-border-dashed-bottom-0 {
  border: 1px dashed #cccccc;
  border-bottom: none;
}

.mo-border-left {
  border-left: 1px solid #cccccc;
}

.mo-border-dashed-left {
  border-left: 1px dashed #cccccc;
}

.mo-border-left-0 {
  border: 1px solid #cccccc;
  border-left: none;
}

.mo-border-dashed-left-0 {
  border: 1px dashed #cccccc;
  border-left: none;
}

.mo-color-default {
  color: #337ab7;
}

.mo-color-success {
  color: #5cb85c;
}

.mo-color-info {
  color: #5bc0de;
}

.mo-color-warning {
  color: #f0ad4e;
}

.mo-color-danger {
  color: #d9534f;
}

.mo-color-dark {
  color: #595a5c;
}

.mo-color-grey {
  color: #cccccc;
}

.mo-flex-wrapper {
  display: flex;
}

.mo-flex {
  flex: 1;
}

.mo-flex-item {
  box-sizing: border-box;
  margin: 0.1rem;
}

.mo-flex-1 {
  flex: 1;
}

.mo-flex-2 {
  flex: 2;
}

.mo-flex-3 {
  flex: 3;
}

.mo-flex-4 {
  flex: 4;
}

.mo-flex-5 {
  flex: 5;
}

.mo-flex-6 {
  flex: 6;
}

.mo-flex-7 {
  flex: 7;
}

.mo-flex-8 {
  flex: 8;
}

.mo-flex-9 {
  flex: 9;
}

.mo-flex-10 {
  flex: 10;
}

.mo-flex-11 {
  flex: 11;
}

.mo-flex-12 {
  flex: 12;
}

.mo-flex-Stretch {
  align-items: flex-start;
}

.mo-flex-Center {
  align-items: center;
}

.mo-flex-End {
  align-items: flex-end;
}

.mo-flex-JustifyEnd {
  justify-content: flex-end;
}

.mo-flex-JustifyCenter {
  justify-content: center;
}

.mo-flex-JustifyBetween {
  justify-content: space-between;
}

.mo-flex-JustifyAround {
  justify-content: space-around;
}
