//字体
$font-fontfamily:Helvetica,
Tahoma,
Arial,
"PingFang SC",
STXihei,
"Microsoft yahei",
"WenQuanYi Micro Hei",
sans-serif;

//字号
$font-titlesize:.26rem;
$font-subsize:.22rem;
$font-decssize:.20rem;
$font-fontsize:.16rem;
$font-smallsize: .12rem;

//行高
$font-lineheight:1.6;