body {
  font-size: Helvetica, Tahoma, Arial, "PingFang SC", STXihei, "Microsoft yahei", "WenQuanYi Micro Hei", sans-serif;
  color: #323235;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4,
p {
  font-size: 16px;
}

.mo-card {
  width: 600px;
  border-radius: 4px;
  border: 1px solid #dddddd;
  margin: 10px;
}

.mo-card-header {
  position: relative;
  border-bottom: 1px solid #dddddd;
  padding: 10px;
  background-color: #eee;
}

.mo-card-body {
  padding: 10px;
}

.mo-card-footer {
  padding: 10px;
  border-top: 1px solid #dddddd;
}

.mo-card-Primary,
.mo-card-Primary .mo-card-header,
.mo-card-Primary .mo-card-footer {
  border-color: #337ab7;
}

.mo-card-Primary .mo-card-header {
  background-color: #337ab7;
}

.mo-card-Success,
.mo-card-Success .mo-card-header,
.mo-card-Success .mo-card-footer {
  border-color: #5cb85c;
}

.mo-card-Success .mo-card-header {
  background-color: #5cb85c;
}

.mo-card-Info,
.mo-card-Info .mo-card-header,
.mo-card-Info .mo-card-footer {
  border-color: #5bc0de;
}

.mo-card-Info .mo-card-header {
  background-color: #5bc0de;
}

.mo-card-Warning,
.mo-card-Warning .mo-card-header,
.mo-card-Warning .mo-card-footer {
  border-color: #f0ad4e;
}

.mo-card-Warning .mo-card-header {
  background-color: #f0ad4e;
}

.mo-card-Danger,
.mo-card-Danger .mo-card-header,
.mo-card-Danger .mo-card-footer {
  border-color: #d9534f;
}

.mo-card-Danger .mo-card-header {
  background-color: #d9534f;
}
