body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input,
textarea,
select {
  *font-size: 100%;
}

.mo-color-default {
  color: #337ab7;
}

.mo-color-success {
  color: #5cb85c;
}

.mo-color-info {
  color: #5bc0de;
}

.mo-color-warning {
  color: #f0ad4e;
}

.mo-color-danger {
  color: #d9534f;
}

.mo-color-dark {
  color: #595a5c;
}

.mo-color-grey {
  color: #cccccc;
}

.mo-border {
  border: 1px solid #cccccc;
}

.mo-border-dashed {
  border: 1px dashed #cccccc;
}

.mo-border-top {
  border-top: 1px solid #cccccc;
}

.mo-border-dashed-top {
  border-top: 1px dashed #cccccc;
}

.mo-border-top-0 {
  border: 1px solid #cccccc;
  border-top: none;
}

.mo-border-dashed-top-0 {
  border: 1px dashed #cccccc;
  border-top: none;
}

.mo-border-right {
  border-right: 1px solid #cccccc;
}

.mo-border-dashed-right {
  border-right: 1px dashed #cccccc;
}

.mo-border-right-0 {
  border: 1px solid #cccccc;
  border-right: none;
}

.mo-border-dashed-right-0 {
  border: 1px dashed #cccccc;
  border-right: none;
}

.mo-border-bottom {
  border-bottom: 1px solid #cccccc;
}

.mo-border-dashed-bottom {
  border-bottom: 1px dashed #cccccc;
}

.mo-border-bottom-0 {
  border: 1px solid #cccccc;
  border-bottom: none;
}

.mo-border-dashed-bottom-0 {
  border: 1px dashed #cccccc;
  border-bottom: none;
}

.mo-border-left {
  border-left: 1px solid #cccccc;
}

.mo-border-dashed-left {
  border-left: 1px dashed #cccccc;
}

.mo-border-left-0 {
  border: 1px solid #cccccc;
  border-left: none;
}

.mo-border-dashed-left-0 {
  border: 1px dashed #cccccc;
  border-left: none;
}

.mo-color-default {
  color: #337ab7;
}

.mo-color-success {
  color: #5cb85c;
}

.mo-color-info {
  color: #5bc0de;
}

.mo-color-warning {
  color: #f0ad4e;
}

.mo-color-danger {
  color: #d9534f;
}

.mo-color-dark {
  color: #595a5c;
}

.mo-color-grey {
  color: #cccccc;
}

.mo-color-default {
  color: #337ab7;
}

.mo-color-success {
  color: #5cb85c;
}

.mo-color-info {
  color: #5bc0de;
}

.mo-color-warning {
  color: #f0ad4e;
}

.mo-color-danger {
  color: #d9534f;
}

.mo-color-dark {
  color: #595a5c;
}

.mo-color-grey {
  color: #cccccc;
}

html,
body {
  font-family: Helvetica, Tahoma, Arial, "PingFang SC", STXihei, "Microsoft yahei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 0.16rem;
  color: #595a5c;
}

a {
  text-decoration: none;
  color: #303133;
}

h1 {
  font-size: 0.26rem;
}

h2 {
  font-size: 0.22rem;
}

h3,
.mo-article-time {
  font-size: 0.2rem;
}

h4,
p,
.mo-article-content {
  font-size: 0.16rem;
  line-height: 1.6;
}

.mo-font-small {
  font-size: 0.12rem;
}

.mo-article-title {
  font-size: 0.26rem;
}

.mo-article-subtitle {
  font-size: 0.22rem;
}

.mo-card {
  width: 6rem;
  border-radius: 2px;
  border: 1px solid #cccccc;
  margin: 0.15rem;
  color: #595a5c;
}

.mo-card-header {
  position: relative;
  border-bottom: 1px solid #cccccc;
  padding: 0.15rem;
  background-color: #e9e9e9;
}

.mo-card-body {
  padding: 0.15rem;
}

.mo-card-footer {
  padding: 0.15rem;
  border-top: 1px solid #cccccc;
}

.mo-card-Primary,
.mo-card-Primary .mo-card-header,
.mo-card-Primary .mo-card-footer {
  border-color: #5c95c5;
}

.mo-card-Primary .mo-card-header {
  background-color: #337ab7;
}

.mo-card-Success,
.mo-card-Success .mo-card-header,
.mo-card-Success .mo-card-footer {
  border-color: #7dc67d;
}

.mo-card-Success .mo-card-header {
  background-color: #5cb85c;
}

.mo-card-Info,
.mo-card-Info .mo-card-header,
.mo-card-Info .mo-card-footer {
  border-color: #7ccde5;
}

.mo-card-Info .mo-card-header {
  background-color: #5bc0de;
}

.mo-card-Warning,
.mo-card-Warning .mo-card-header,
.mo-card-Warning .mo-card-footer {
  border-color: #f3bd71;
}

.mo-card-Warning .mo-card-header {
  background-color: #f0ad4e;
}

.mo-card-Danger,
.mo-card-Danger .mo-card-header,
.mo-card-Danger .mo-card-footer {
  border-color: #e17572;
}

.mo-card-Danger .mo-card-header {
  background-color: #d9534f;
}
