@import "../../basic/css/comm";

.mo-article {
  width: 660px;
  margin: 0 auto;
}

.mo-article-title {
  font-size: $comm-titlesize;
  text-align: center;
}

.mo-article-subtitle {
  font-size: $comm-smallsize;
  text-align: center;
}

.mo-article-time {
  font-size: $comm-smallsize;
  text-align: center;
}

.mo-article-content {
  font-size: $comm-fontsize;
  line-height: $comm-lineheight;
}

.mo-article-content p {
  margin: $comm-margin 0;
}

.mo-article-content img {
  width: auto;
  max-width: 100% !important;
  height: auto !important;
}