/* Ui */
.gitbook-link {display: none !important;}
.page-inner{max-width:none;padding-left:90px;padding-right:90px;}

/* header */
.gitbook-header{height:64px;position: relative;z-index:10;background:#fff;box-shadow:0px 4px 3px #ececec; }
.gitbook-header-logo{position: absolute;left:20px;top:10px;width:280px;height:40px;border-right:1px solid #ededed}
.gitbook-header-logo h1{margin-top:0;font-size:36px;}
.gitbook-header-nav{position: absolute;right:20px;top:0x;}
.gitbook-header-nav ul{letter-spacing: -0.25em;}
.gitbook-header-nav li{display: inline-block;letter-spacing: normal;}
.gitbook-header-nav li a{display:block;line-height:64px;padding:0 20px;font-size:16px;}
.gitbook-header-nav li a:link,.gitbook-header-nav li a:visited{color: #333;}
.book-summary{padding-top:74px;}
.book-body .body-inner{top:74px;}

/*  theme */
.book-summary{background-color: #fff;}
.book-body{background-color: #f9f9f9;}
.book-body h1, .book-body h2, .book-body h3{border-bottom:1px solid #e5e5e5;padding-bottom:0.5em;}
#book-search-input{border:0;margin:10px 20px;}
#book-search-input input,#book-search-input input:hover{border:1px solid #ededed;background-color:#efefef;border-radius:20px;}
#book-search-input input:focus{border-color: #008cff;}
.book-summary ul.summary li ul{padding-bottom:10px;}
.book-summary ul.summary>li.chapter {margin:0 25px;border-top:1px solid #ededed;}
.book-summary ul.summary li>span{font-size:0.8em;color: #888;}
.copy-code-button{position:absolute;right: 0;top:0;background-color: #9E9E9E;color: white;border-radius: 0px 0px 0px 5px;border: 1px solid rgb(150,150,150);z-index: 1;font-size: 80%;}
.markdown-section p{position: relative;}
.iframe-wrap{position: relative;width: 419px;height:792px;padding:60px 22px 20px;background-color: #fff;box-shadow: 0 4px 30px 0 rgba(4, 59, 85, 0.2);border-radius: 70px;}
.iframe-mobile-mark{position: absolute;left:0;top:0; width:419px;height: 800px;background: url(/assets/iframe_iphonex.png) no-repeat;-moz-background-size: contain;background-size: contain;pointer-events: none;}

/* prev code */
.example-prev{position: relative;transition:box-shadow 0.2s ease,padding 0.2s ease;}
.example-prev-code{position: absolute;right:0;top:-54px;width:32px;height:24px;}
.markdown-section .example-prev-code{background: url(/assets/icon-showcode.png) no-repeat; background-size:100% auto;}
.example-prev.show-code{padding:44px 14px 14px 14px;margin-bottom:-10px;background-color:#fff;border-radius:0.3em;border:1px solid #e5e5e5;}
.example-prev.show-code:before{overflow:hidden;position: absolute;left:0;top:0px;width:100%;line-height:30px;height:30px;font-weight:bold;color:#666;background-color:#f1f1f1;border-bottom:1px solid #e5e5e5;padding:0 14px;font-size:11px;content:"Example"}
.example-prev + pre.language-{display: none;}
.example-prev:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

@media(max-width:600px){
    .book-body .body-inner,.book-summary{padding-top:50px;}
    .gitbook-header{height:48px;}
    .page-inner{padding-left:15px;padding-right:15px;}
    .gitbook-header-logo{top:4px;}
    .gitbook-header h1{font-size:18px;}
}