@import "../../basic/css/comm.scss";

//tab基本配置
$tab-lineheight:40px;
$tab-padding:$comm-padding-lg;

$tab-hightlight: $color-default;

$tab-grey:$color-grey;

.mo-tab-ctrl {
  @include clearfix;
  width: 100%;
}

.mo-tab-ctrl li {
  @include pull-left;
  display: block;
  line-height: $tab-lineheight;
  padding: 0 $tab-padding;
  text-decoration: none;
  cursor: pointer;
}

//tabs效果
.mo-tab-Tabs {
  @include borderSolid($width: 3px, $color: $tab-grey, $direction:bottom);
}

.mo-tab-Tabs li {
  margin-bottom: -3px;
  color: $color-font;
  @include borderSolid($width: 3px, $color: $tab-grey, $direction:bottom);
}

.mo-tab-Tabs .mo-tab-current {
  @include borderSolid($width: 3px, $color: $tab-hightlight, $direction:bottom);
  color: $tab-hightlight;
}

//pills效果
.mo-tab-Pills .mo-tab-current {
  @include borderRadius($radius: 6px);
  background: $tab-hightlight;
  color: #ffffff;
}

//默认效果
.mo-tab-Default {
  background: $tab-grey;
}

.mo-tab-Default li {
  color: $tab-hightlight;
}

.mo-tab-Default .mo-tab-current {
  background: $tab-hightlight;
  color: #ffffff;
}

//content部分效果
.mo-tab-content {
  @include borderSolid($width: 1px, $color: $tab-grey);
  border-top-color: transparent;
  padding: $tab-padding;
}